.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.tag1 {
  font-size: 1.5rem;
}

.tag2 {
  font-size: 1.5rem;
}

.list {
  font-size: 1.2em;
}

.list code {
  background: #f7f7f7;
}

.input1 {
  text-align: center;
}

.input2 {
  text-align: center;
}

.input3 {
  text-align: center;
}

.tag11 {
  text-align: left;
  margin-left: 20%;
}

.tag12 {
  text-align: left;
  margin-left: 20%;
  margin-top: 20px;
}

.tag13 {
  text-align: left;
  margin-left: 20%;
  margin-top: 20px;
}

.tag14 {
  text-align: left;
  margin-left: 20%;
}

.tag15 {
  text-align: left;
  margin-left: 5%;

  font-size: 2rem;
}

.tag16 {
  display: inline-block;
}

.date1 {
  text-align: left;
  margin-left: 5%;
  display: inline-block;
}

.date11 {
  text-align: left;
  margin-left: 20%;
}
.date2 {
  text-align: left;
  margin-left: 2%;
  display: inline-block;
}

.datetable {
  margin-left: 45%;
  text-align: left;
}

.tag26 {
  display: inline-block;
  vertical-align: inherit;
}

.date21 {
  margin-left: 5%;
  display: inline-block;
  width: 400px;
}

.upload {
  width: 60%;
  margin: 0 auto;
}

.card1 {
  margin: 0 auto !important;
  width: 70%;
  text-align: left;
}
.card2 {
  margin: 0 auto !important;
  width: 70%;
  text-align: left;
  margin-top: 6% !important;
}
.card3 {
  margin: 0 auto !important;
  width: 70%;
  text-align: left;
  margin-top: 6% !important;
}
