.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.tag1 {
  font-size: 1.5rem;
}

.tag2 {
  font-size: 1.5rem;
}

.list {
  font-size: 1.2em;
}

.list code {
  background: #f7f7f7;
}

.input1 {
  text-align: center;
}

.input2 {
  text-align: center;
}

.input3 {
  text-align: center;
}

.tag11 {
  text-align: left;
  margin-left: 20%;
}

.tag12 {
  text-align: left;
  margin-left: 20%;
  margin-top: 20px;
}

.tag13 {
  text-align: left;
  margin-left: 20%;
  margin-top: 20px;
}

.tag14 {
  text-align: left;
  margin-left: 20%;
}

.tag15 {
  text-align: left;
  margin-left: 20%;
  margin-top: 5%;
}

.tag16 {
  display: inline-block;
}

.date1 {
  text-align: left;
  margin-left: 5%;
  display: inline-block;
}

.date11 {
  text-align: left;
  margin-left: 20%;
}
.date2 {
  text-align: left;
  margin-left: 2%;
  display: inline-block;
}
