.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  background: url(../assets/meeting.jpg) no-repeat center 0;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.title {
  font-size: 67px;
  font-weight: 700;
  line-height: 74px;
  color: #fff;
  margin-top: 40vh;
  margin-bottom: 20px;
}
.subtitle {
  font-size: 18px;
  font-weight: 300;
  -webkit-text-size-adjust: 100%;
}
.button {
  display: inline-block;
  height: 50px;
  width: 126px;
}
