.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  background: url(../assets/meeting.jpg) no-repeat center 0;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
  font-size: 5rem;
  font-weight: 10em;
  color: #ffffff;
  letter-spacing: -1px;
  margin-bottom: 200px;
  margin-top: 200px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
  text-align: center;
}

.list code {
  background: #f7f7f7;
}
