.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
  background: url(../assets/meeting2.jpg) no-repeat center 0;
  background-size: auto;
  opacity: 0.9;
  height: 100%;
}

.title {
  font-size: 5rem;
  font-weight: 10em;
  color: #ffffff;
  letter-spacing: -1px;
  margin-bottom: 200px;
}

.tmp {
  height: 200px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
  text-align: center;
}

.list code {
  background: #f7f7f7;
}
