html,
body,
:global(#root) {
  height: auto;
  min-height: calc(100vh - 46px);
}

body {
  background-image: url(./assets/body-back.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #e5e5e5; */
}
